# 一级标题
## 二级标题
### 三级标题

- 苹果
- 香蕉
- 橘子

```
    print('hello world')
```

**加粗**

[百度一下](https://www.baidu.com)

第一段

第二段

# 1.1 导入 pandas
使用 import 关键字导入 pandas 第三方库，该库主要用于。。。。。

In [2]:
# 这儿是注释
import pandas as pd
pd.__version__

'2.0.3'

# 1.2 创建 DataFrame 类型数据
使用 data。。。。，创建 。。。。。

In [ ]:
# 创建 Series 和 DataFrame 数据结构
data = {
    '姓名': [3, 33, 22],
    '年龄': [5, 55, 55],
    '收入': [1, 2, 3],
    '门牌号': [3, 4, 5]
}
my_df = pd.DataFrame(data)
my_df

# 构造函数 
用于创建某个对象的函数。
Series(data, index, dtype, name, copy)
data： 必选参数
index： 可选
- data：一组数据(ndarray 类型)。
- index：数据索引标签，如果不指定，默认从 0 开始。
- dtype：数据类型，默认会自己判断。
- name：设置名称。
- copy：拷贝数据，默认为 False。

In [12]:
my_series = pd.Series(data=[10,20,30,'zhongxing'],index=['a','b','c','d'])
my_series

a           10
b           20
c           30
d    zhongxing
dtype: object

In [13]:
type(my_series)

pandas.core.series.Series

In [14]:
dict = {
    '语文':90,
    '数学':100,
    '英语': 99,
}
my_series2 = pd.Series(dict)
my_series2

语文     90
数学    100
英语     99
dtype: int64

In [15]:
# 查询 Series 数据的索引
my_series2.index

Index(['语文', '数学', '英语'], dtype='object')

In [16]:
# 查询 Series 的一组数据
my_series2.values

array([ 90, 100,  99])

In [17]:
# 通过指定索引查询指定数据
my_series2['数学']

100

In [18]:
my_series2['英语']

99

In [24]:
my_series2['语文':'英语']

语文     90
数学    100
英语     99
dtype: int64

In [3]:
data = [
    [11,12,13,14],
    [21,22,23,24],
    [31,32,33,34],
    [41,42,43,44]
]
df = pd.DataFrame(data,index=['a','b','c','d'],columns=['姓名','年龄','收入','门牌号'])
df

   姓名  年龄  收入  门牌号
a  11  12  13   14
b  21  22  23   24
c  31  32  33   34
d  41  42  43   44

In [31]:
df.columns

Index(['姓名', '年龄', '收入', '门牌号'], dtype='object')

In [32]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.values

array([[11, 12, 13, 14],
       [21, 22, 23, 24],
       [31, 32, 33, 34],
       [41, 42, 43, 44]])

In [6]:
df['姓名']

a    11
b    21
c    31
d    41
Name: 姓名, dtype: int64

In [7]:
type(df['姓名'])

pandas.core.series.Series

In [37]:
df['年龄']

a    1
b    2
c    3
d    4
Name: 年龄, dtype: int64

In [50]:
type(df['年龄'])

pandas.core.series.Series

In [14]:
df[['姓名','收入','年龄']]

   姓名  收入  年龄
a  11  13  12
b  21  23  22
c  31  33  32
d  41  43  42

In [15]:
type(df[['姓名','收入','年龄']])

pandas.core.frame.DataFrame

In [20]:
# loc[行索引] 属性
df.loc['a']

姓名     11
年龄     12
收入     13
门牌号    14
Name: a, dtype: int64

In [21]:
df.loc['b']

姓名     21
年龄     22
收入     23
门牌号    24
Name: b, dtype: int64

In [22]:
df.loc[['a','b']]

   姓名  年龄  收入  门牌号
a  11  12  13   14
b  21  22  23   24

In [23]:
type(df.loc[['a','b']])

pandas.core.frame.DataFrame

In [25]:
# 传入区间条件 ，切面的用法是一样的
df.loc['a':'d']

   姓名  年龄  收入  门牌号
a  11  12  13   14
b  21  22  23   24
c  31  32  33   34
d  41  42  43   44

In [26]:
df.loc[:]

   姓名  年龄  收入  门牌号
a  11  12  13   14
b  21  22  23   24
c  31  32  33   34
d  41  42  43   44

In [28]:
# 获得一列或者多列
# df.loc[行索引,列索引]
df.loc[:,'年龄']

a    12
b    22
c    32
d    42
Name: 年龄, dtype: int64

In [29]:
df['年龄']

a    12
b    22
c    32
d    42
Name: 年龄, dtype: int64

In [30]:
# 使用loc获得多列
df.loc[:,['年龄','收入']]

   年龄  收入
a  12  13
b  22  23
c  32  33
d  42  43

In [32]:
# 使用loc获得多列
df.loc[:,'年龄':'门牌号']

   年龄  收入  门牌号
a  12  13   14
b  22  23   24
c  32  33   34
d  42  43   44

# 文件的读取
书籍集来源于电脑上的某个文件（硬盘中，可以持久化的）

我们创建的对象，df，series 对象，是存在内存中的（临时存储）
## csv 文件

In [ ]:
pd.read_csv('')